@using MyWedding.Resources
@{
    ViewBag.Title = @Wedding.Information;
}
@Scripts.Render("~/bundles/jquery")

<div class="container" style="margin-bottom:50px">
    <img src="~/Content/Images/Main/Flowers.jpg" class="img-responsive pull-left" style="width:400px;margin-right:20px;" alt="Flowers by Henrik Hjalmarsson">

    <h1>@Wedding.info_importantinfo</h1>
    <p>@Wedding.info_colortheme</p><br />
    <p>@Wedding.info_toastmaster</p><br />
    <p>@Wedding.info_clothes</p><br />
    <p>@Wedding.info_msg</p><br />
    <p>@Wedding.info_msg2</p><br />
    
    <p>
        @Wedding.info_partyinfo
        <a href="http://nyckelviken.com/wp-content/uploads/2012/12/Nyckelvikens-Herrg%C3%A5rd-Sj%C3%B6villan.pdf">@Wedding.info_link</a>
    </p><br />
    <p>@Wedding.info_osa</p>

    <div class="row" style="margin-top:50px">
    </div>
    <img src="~/Content/Images/Main/map.jpg" class="img-responsive" alt="Flowers by Henrik Hjalmarsson">
    <p><i>@Wedding.info_direction</i></p>
    <br />
    <hr />
    @Html.ActionLink(@Wedding.back, "Index")
</div>




