@model Wedding.Models.Message4


@{
    ViewBag.Title = "Meddelanden";
}

<section id="main" class="col-md-5">
    <img src="~/Content/Images/Flowers.jpg" class="img-responsive" alt="Flowers by Henrik Hjalmarsson">
</section>


<div class="container">
    @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <section id="sidebar" class="col-md-7">
            <h1>Meddelanden</h1>
            <br />
            <p>Här kan man lämna privata meddelanden till Julia och/eller Henrik</p>
            <br />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MessageText, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.MessageText, 10, 55, new { @class = "form-control", @rows = 10 })
                    @Html.ValidationMessageFor(model => model.MessageText, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Skicka" class="btn btn-primary" />
                </div>
            </div>
        </section>

    }
</div>

<div class="container">
    <hr />
    @Html.ActionLink("Tillbaka", "Index")
</div>
